.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(47, 86, 167, 1) 0%,
    rgba(22, 131, 195, 1) 91%
  );
  background-attachment: scroll;
}

.content {
  width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: start;
  border: 2px solid #fde664;
  border-radius: 8px;
}

@media (max-width: 1040px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 600px;
  }
}
